// Цвет активной страницы панели навигации
$nav-active-color: #CCDFE5;


// Цвета надписи blog и фон первого, презентующего большого блока
$main-color: #D64444;
$main-darken-color: #A02E2E;


// Стили 4 основных блоков с презентациями статей и одного блока анонсов
$width-block: 330px;

$backroung-block: white;
$border-color: #DBDBDB;
$margin-content: 20px;

$tag-size: 18px;
$text-size: 15px;
$text-height: 25px;
