@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;900&display=swap');
@import "vars";

%buttons {
    margin-top: 15px;
    padding: 9px 11px;
    border-radius: 5px;
    border: 0px;
    color: white;
    transition: background-color 0.5s ease;
    outline: none;
    &:hover {
        cursor: pointer;
    }
}

%article-title {
    line-height: 0px;
    position: relative;
    bottom: 27px;
    font-size: 30px;
    font-weight: 600;
    color: darken(white, 80%);
}


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    list-style: none;
    color: black
}

body {
    background: darken(white, 6%);
}

.header {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 2px darken(silver, 5%);
}



.logo-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid $main-color;
    background: center no-repeat url(../media/icon-news.webp);
    background-size: 99%;
    transition: transform 0.5s ease;
    &:hover {
        transform: rotate(360deg);
    }
}


.title-logo {
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    + h3 {
        line-height: 25px;
        font-weight: 800;
        color: $main-darken-color;
    }
}

.searched {
    text-align: right;
    .search {
        width: 230px;
        border: 1px solid silver;
        padding: 7px;
        border-radius: 3px;
        padding-left: 10px;
        vertical-align: middle;
        font-weight: 400;
        outline-color: $main-darken-color;
    }
}

.navigation {
    text-align: right;
    ul li {
        display: inline-block;
        margin-left: 5px;
        padding: 7px 12px;
        border: 1px solid silver;
        font-size: 16px;
        border-radius: 5px;
        background: darken(white, 3%);
        transition: all 0.5s ease;
        &:hover {
            background-color: darken(white, 10%);
        }
    }
}

.present {
    background: $main-darken-color;
    margin-top: 50px;
    padding: 40px 25px;
    border-radius: 3px;
    border: 1px solid black;
}

.present-title h4 {
    font-size: 45px;
    font-weight: 300;
    color: white;
}

.present-text {
    margin-top: 15px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 300;
    color: white;
}

.present-read input {
    @extend %buttons;
    background: #F42A3B;

    &:hover {
        background-color: darken(#F42A3B, 8%);
    }
}

.present-image {
    border: 4px solid white;
    border-radius: 5px;
    width: 500px;
    height: 270px;
    overflow: hidden;
    background: no-repeat center url(../media/mozrust.png);
    background-size: 100%;
}




.articles {
    margin-top: 100px;
    .artic {
        width: $width-block;
        margin-bottom: 30px;
        background: $backroung-block;
        border: 1px solid $border-color;
        border-radius: 4px;
        h4 {
            @extend %article-title;
        }
        .artic-img {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            height: 115px;
        }

        .one-art {
            background: no-repeat center url(../media/Unreal4-vs-Unity5.jpg);
            background-size: 100%;
        }
        .two-art {
            background: no-repeat center url(../media/Eleven-property-programmists.jpg);
            background-size: 100%;
        }
        .three-art {
            background: no-repeat center url(../media/Seven-girl-it.jpg);
            background-size: 100%;
        }
        .four-art {
            background: no-repeat center url(../media/Deep-Learning.jpg);
            background-size: 100%;
        }

        .tag {
            font-size: $tag-size;
            margin: $margin-content;
            font-weight: 600;
        }
        p {
            margin: $margin-content;
            margin-top: -10px;
            font-size: $text-size;
            line-height: $text-height;
        }
        .bottom {
            margin: $margin-content;
            input {
                @extend %buttons;
                background: #F0B637;
                color: black;
                margin-top: 0px;
                &:hover {
                    background-color: darken(#F0B637, 10%);
                }
            }
        }
    }

    .anons {
        width: $width-block + 20px;
        position: absolute;
        right: 15px;
        .anons-header-text {
            background: $backroung-block;
            border-radius: 4px;
            h4 {
                @extend %article-title;
            }
        }

        .anons-present-text {
            margin: $margin-content;
            padding-bottom: 20px;
            font-size: $text-size;
            line-height: $text-height;
        }
        .anons-body {
            margin-top: 10px;
            border-radius: 4px;
            background: #17AFC2;
            border: 1px solid #1491A1;
            .anons-img {
                margin: $margin-content;
                width: ($width-block - $margin-content - $margin-content) + 20px;
                height: 105px;
                background: no-repeat center url(../media/android.jpg);
                background-size: 100%;
                border: 4px solid white;
                border-radius: 4px;
            }
        }
        .anons-body-text {
            margin: $margin-content;
            font-size: $text-size;
            color: white;
            font-weight: 300;
        }
        .anons-bottom {
            margin: $margin-content;
            input {
                @extend %buttons;
                background: white;
                color: black;
                &:hover {
                    background-color: darken(white, 10%)
                }
            }
        }
    }
}

.load-all {
    input {
        position: relative;
        left: 280px;
        bottom: 15px;
        padding: 8px 15px;
        @extend %buttons;
        background: #dc3545;
        &:hover {
            background-color: darken(#dc3545, 10%);
        }
    }
}

.footer {
    text-align: center;
    margin-top: 80px;
    background: white;
    border: 2px solid #DBDBDB;
    border-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 40px;
    font-weight: 600;
    font-size: 16px;
}


#margin-load-more-one, #margin-load-more-two {
    margin-top: 5px;
}






@media (max-width: 1199px) {

    .present {
        text-align: center;
    }

    .present-image {
        position: relative;
        left: 10%;
        width: 700px;
    }

    .articles .artic {
        width: 461px;
    }

    .anonsyruit {
        position: relative;
        top: 10px;
    }

    .anonsyruit .anons {
        width: 700px;
    }

    .footer {
        position: relative;
        top: 420px;
    }

    .load-all {
        input {
            position: relative;
            left: 43%;
            top: 320px;
        }
    }

    #margin-load-more-one, #margin-load-more-two {
        position: relative;
        top: 450px;
    }

}



@media (max-width: 991px) {

    .searched {
        display: none;
    }

    .title-logo, .title-logo + h3 {
        position: relative;
        right: 30px;
    }

    .present-image {
        position: relative;
        left: 3%;
        width: 600px;
    }

    .articles .artic {
        width: 341px;
    }

    .anonsyruit .anons {
        width: 690px;
    }

    .load-all {
        input {
            position: relative;
            left: 39%;
        }
    }

}



@media (max-width: 767px) {

    .navigation {
        text-align: center;
    }

    ul li {
        margin: 15px 50px;
        margin-bottom: 0px;
        position: relative;
        left: 25px;
    }

    .title-logo {
        position: relative; left: 50px;
        top: 11px;
    }

    .title-logo + h3{
        position: relative; left: 180px;
        bottom: 16px;
    }

    .logo-img {
        position: relative;
        left: 5px;
    }

    .present-image {
        position: relative;
        left: -5%;
        width: 500px;
    }

    .articles .artic {
        width: 510px;
    }

    .anonsyruit .anons {
        width: 510px;
        margin-top: 70px;
    }

    .footer {
        position: relative;
        top: 550px;
    }

    .load-all {
        input {
            position: relative;
            left: 34%;
            top: 555px;
        }
    }

    #margin-load-more-one, #margin-load-more-two {
        position: relative;
        top: 575px;
    }

}



@media (max-width: 575px) {

    .title-logo {
        position: relative;
        left: 35px;
        top: 11px;
    }

    .title-logo + h3{
        position: relative;
        left: 170px;
        bottom: 16px;
    }

    .present-image {
        position: relative;
        left: 0%;
        width: 100%;
        height: 130px;
    }

    .present-text {
        font-size: 16px;
    }

    .present-title h4 {
        font-size: 35px;
    }

    .articles .artic {
        width: 100%;
    }

    .anonsyruit .anons {
        width: 92%;
    }

    .footer {
        position: relative;
        top: 600px;
    }

    #an-img {
        width: 87%;
    }

    .load-all {
        input {
            position: relative;
            left: 20px;
        }
    }

}



@media (max-width: 399px) {
    .present-title h4 {
        font-size: 25px;
    }

    .load-all {
        input {
            position: relative;
            top: 600px;
        }
    }

    #margin-load-more-one, #margin-load-more-two {
        position: relative;
        top: 620px;
    }

}
